html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background: rgb(247, 247, 247);
}
hr {
  border: 0.5px solid rgb(236, 232, 232);
}
p {
  padding: 0;
  margin: 0;
}
